form{
    width: 600px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #ffd6bc,#fc9d62);
    padding: 10px;
}    

a {
    text-decoration: none;
    color: darkmagenta;
}

a:hover {
    color: deeppink;
}

#button-1 {
    padding: 0.8%;
    border: ridge 1px ;
    border-color: dimgray;
    border-radius: 5px;
    color: darkblue;
    box-shadow: 5px 5px 10px 5px darkgray;
    cursor: pointer;
}

button {
    padding: 0.8%;
    border: ridge 1px ;
    border-color: dimgray;
    border-radius: 5px;
    color: darkblue;
    box-shadow: 5px 5px 10px 5px darkgray;
    cursor: pointer;
}

#button-1:hover {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

.tr-light:hover {
    background-color: lightcoral;
    color: darkslateblue;
}

* {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

h1 {
    color: rebeccapurple ;
}

#photo {
    display: inline-block;
    border: 3px solid;
    border-color: rebeccapurple;
}

input {
    outline: none;
}

#img-side {
    margin-left: 1%;
    color:  rebeccapurple;
}

#img-bottom {
    display: inline-block;
    vertical-align: top;
    margin-left:2%;
    font-size: 18px;
}

label {
    color: rebeccapurple;
}


li {
    color: navy;
}

select {
    color: purple;
    cursor: pointer;
}

table {
    border: 2px dashed;
    border-collapse: collapse;
}

thead {
    border: 1px solid;
}

tr {
    border: 1px solid;
}

td {
    border: 1px solid;
    color: mediumblue;
}

.klick {
    cursor: pointer;
}